:root {
  --font-family: "Karla", sans-serif;
  --white-color: #fff;
  --red-color: #ff0000;
  --green-color: #70fc4f;
  --lightgreen-color: #85c990;
  --purple-color: #ff00ffea;
  --blue-color: #00b9f7;
  --shadow-color1: #00000025;
  --shadow-color2: #00000033;
  --border-color: #06460a23;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--lightgreen-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: cover;
  user-select: none;
  border: solid var(--white-color);
  border-width: 2rem 1rem;
  border-radius: 0.1rem;
  box-shadow: 0 1rem 2rem var(--shadow-color1),
    0 0.6rem 0.6rem var(--shadow-color2);
}

#btn {
  color: var(--white-color);
  cursor: pointer;
  user-select: none;
  border-radius: 4rem;
  margin: 3rem auto;
  padding: 1.4rem 1.9rem;
  border: 0.1rem solid var(--border-color);
  font: 2.3rem var(--font-family);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: contrast(110%);
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(
      90deg,
      var(--blue-color) 0%,
      var(--purple-color) 48%,
      var(--red-color) 80%,
      var(--blue-color) 100%
    ),
    var(--lightgreen-color);
  animation: slide 2s linear infinite;
  background-blend-mode: luminosity;
}

@keyframes slide {
  to {
    background-position: 20vw;
  }
}

#btn:hover {
  background-color: var(--green-color);
  background-blend-mode: exclusion;
}

#btn:active {
  transform: scale(0.96);
}

#loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--lightgreen-color);
}

.loader {
  width: 10rem;
  height: 10rem;
  background: center / contain no-repeat url(../img/loader.gif);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 5px;
  }
}
